{% extends "index.html" %}

{% block content %}
<section class="vh-150 bg-image" style="background-image: url('/static/img/signup.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Edit Parts</h2>
                            {% if error %}
                            <div style="color:red"> {{ error }} </div>
                            {% endif %}
                            {% if success %}
                            <div style="color: green;"> {{ success }} </div>
                            {% endif %}
                            <br>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example27">Product</label>
                                    <select id="availability" name="product">
                                        {% for product in product %}

                                        {% if product.available == "AVAILABLE" %}
                                        <option value="{{product.product_name}}" name="service">{{product.product_name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select><span style="color: red;">*</span>
                                </div>
                                <br>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example1c">Parts Image</label>
                                    <p><b>Previous parts image:</b> {{parts.image.url}}</p>
                                    <img src="{{parts.image.url}}" style="height: 20rem; width: 35rem;">
                                    <br>
                                    <br>
                                    <p><b>Note:</b> Choose new image if you want to change it.</p>
                                    <input type="file" name="image" id="form3Example1c"
                                        class="form-control" accept="image/png, image/jpeg"/>
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Parts Name <span
                                            style="color: red;">*</span></label>
                                    <input type="text" id="form3Example1cg" name="parts_name"
                                        class="form-control form-control-lg" placeholder="Parts name" required="true"
                                        onkeydown="return /[a-zA-Z0-9]/i.test(event.key)" value="{{parts.parts_name}}"/>
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Parts Description <span
                                            style="color: red;">*</span></label>
                                    <input type="text" id="form3Example1cg" name="description"
                                        class="form-control form-control-lg" placeholder="Parts Description"
                                        required="true" onkeydown="return /[a-zA-Z0-9 ]/i.test(event.key)" value="{{parts.description}}" />
                                </div>
                                <br>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example1c">Price <span style="color: red;">*</span></label>
                                    <input type="text" name="price" id="form3Example1c" required="true"
                                        class="form-control" placeholder="Price" value="{{parts.price}}"/>
                                </div>
                                <br>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example1c">Service Charge <span style="color: red;">*</span></label>
                                    <input type="text" name="service_charge" id="form3Example1c" required="true"
                                        class="form-control" placeholder="Service Charge" value="{{parts.service_charge}}"/>
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label for="cars">Choose Status:</label>

                                    <select id="availability" name="available">
                                        <option value="AVAILABLE" name="available">Available</option>
                                        <option value="UNAVAILABLE" name="available">Unavailable</option>
                                    </select><span style="color: red;">*</span>
                                </div>


                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}