{% extends "index.html" %}

{% block content %}
<section class="vh-100"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65)), url('/static/img/signup.jpg');">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 2rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Are you sure want to change the {{book.parts_name}} book status to Accepted from Completed? <i
                                        class="fa-solid fa-circle-exclamation fa-bounce" style="color: #f66151;"></i>
                                </p>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 g-5">
                                    {% if book %}
                                    <a class="nav-link text-white mx-1" href="{% url 'acceptBook' book.id %}"><button type="button" class="btn btn-warning btn-lg px-4">Yes</button></a>
                                    {% endif %}
                                    <button type="button" class="btn btn-danger btn-lg px-4 mx-md-4"
                                        onclick="history.back()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 d-none d-md-block"
                            style="padding-top: 5rem; padding-bottom: 5rem; padding-right: 5rem;">
                            <img src="/static/img/logo/logo-black.png" alt="login form" class="img-fluid"
                                style="border-radius: 5rem 5rem 5rem 5rem;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}