{% extends "index.html" %}

{% block content %}
<section class="vh-100" 
style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65)), url('/static/img/signup.jpg');">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 2rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                </div>
                                <h1>Hurray your mail is verified <i
                                        class="fa-solid fa-circle-check text-success fa-bounce"></i></h1>
                                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Please login</p>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <a class="nav-link text-white" href="/login"><button type="button"
                                            class="btn btn-warning btn-lg px-4">Ok</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/static/profile.png" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 5rem; margin-top: 4rem;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}